.home-container {
  display: flex;
  flex-direction: row;
  background-color: #e4e4e4;
  min-height: 100vh;
}

.home-container .btn.btn-primary.sidebar-btn:hover {
  background-color: rgb(50, 50, 50);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.home-container .btn.btn-primary.sidebar-btn {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  background-color: rgb(70, 70, 70);
  display: flex;
  flex-direction: row;
}

.home-container .accounts {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-container .card {
  margin-bottom: 5%;
}

.home-container .card-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container .card-block .save-btn {
  width: 50%;
  margin: 20px;
  display: block;
}

.home-container .card-block p {
  margin-bottom: 10px;
}

.home-container .card-block input[type='text'],
.home-container .card-block input[type='password'],
.home-container .card-block textarea {
  margin-bottom: 10px;
}

.home-container .btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgb(59 77 102 / 25%);
  border: none;
}

.home-container .side .sidebar-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}

.home-container .prv-btn {
  display: block;
  width: 100%;
  margin-top: 15px;
}

.home-container .side-bar {
  background-color: rgb(226, 226, 226);
  padding: 10px;
  width: 15%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.home-container .main-content {
  margin-left: 15%;
  padding: 10px;
  background-color: #d0d0d0c4;
  width: 85%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  min-height: 100vh;
}

.home-container .main-header {
  display: flex;
  flex-direction: row;
}

.home-container .site-name-btn,
.home-container .del-provider-btn,
.home-container .update-provider-btn {
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.home-container .site-name-btn:hover,
.home-container .new-account-btn:hover,
.home-container .del-provider-btn:hover,
.home-container .update-provider-btn:hover,
.home-container .new-group-btn:hover,
.home-container .save-btn:hover,
.home-container a.sidebar-btn:hover {
  background-color: rgb(31, 31, 31);
}

.home-container .sidebar .site {
  background-color: rgb(49, 49, 48);
  padding: 8px;
  margin-bottom: 5px;
  cursor: pointer;
  border: 1px solid #dddddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-container a.profile-btn {
  width: 35%;
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 217, 0);
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.home-container #profile-container:hover {
  background-color: rgb(241, 205, 0);
}

.home-container .new-group-btn {
  width: 50%;
  margin-bottom: 10px;
  margin-left: 25%;
  margin-right: 25%;
  border: none;
  border-radius: 5px;
  background-color: rgb(49, 49, 48);
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.home-container .account-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.home-container .site-name-btn,
.home-container .new-account-btn,
.home-container .save-btn {
  width: 20%;
  padding: 1%;
  margin-bottom: 1%;
  border: none;
  border-radius: 5px;
  background-color: rgb(49, 49, 48);
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.home-container .del-provider-btn,
.home-container .update-provider-btn {
  width: 30%;
  padding: 3%;
  margin-bottom: 3%;
  border: none;
  border-radius: 5px;
  background-color: rgb(49, 49, 48);
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.home-container .del-provider-btn {
  margin-left: 9%;
  margin-right: 20%;
  margin-top: 3%;
}

.home-container .account-management {
  background-color: rgb(226, 226, 226);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.home-container .account-section {
  background-color: rgb(226, 226, 226);
  padding: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.home-container .input-notes {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  height: 60px;
  resize: vertical;
}

.home-container .save-btn {
  margin-top: 3%;
  margin-right: 40%;
}

@media (min-width: 768px) {
  .home-container .account-section {
    width: 48%;
  }
}

@media (max-width: 768px) {
  .home-container .profile-btn,
  .home-container .new-group-btn,
  .home-container .site-name-btn,
  .home-container .new-account-btn,
  .home-container .save-btn {
    padding: 8px;
    font-size: 0.875rem;
  }

  .home-container .new-group-btn,
  .home-container .site-name-btn {
    font-size: 0.75rem;
    padding: 8px 10px;
    margin-bottom: 5px;
    width: auto;
  }

  .home-container .sidebar .site {
    font-size: 0.75rem;
    padding: 6px 8px;
    margin-bottom: 4px;
  }
}
